/* bee account settings styling */
.AccountSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.AccountSettings-FieldSet {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vh;
  border: 1px solid black;
  gap: 1rem;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  color: goldenrod;
  box-shadow: 1px 1px 20px 1px gray;
}
.AccountSettings-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55vw;
  box-shadow: 1px 1px 20px 1px gray;
  gap: 1rem;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(244, 234, 210);
}
.Save-Button {
  border: none;
  background-color: navy;
  color: white;
  padding: 12px;
  width: 10vw;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.Save-Button:hover {
  background-color: rgb(65, 170, 65);
  color: white;
  box-shadow: 1px 1px 10px 1px black;
}
.AccountSettings-Form input {
  border: none;
  border: 1px solid goldenrod;
  color: black;
  width: 20vw;
  padding: 10px;
  border-radius: 20px;
}
.AccountSettings-FieldSet legend {
  display: flex;
  flex-direction: column;
  width: 10vw;
  border-bottom: 1px solid black;
  gap: 1rem;
  color: white;
  background-color: navy;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px black;
  border-radius: 4px;
  text-align: center;
}
.AccountSettings-Form textarea {
  height: 20vh;
  border-radius: 20px;
  text-align: center;
}
.Account-Now {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 40px;
  border-radius: 20px;
  background-color: rgb(50, 50, 112);
  box-shadow: 1px 1px 10px 1px black;
  color: white;
}
.Account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AccountSettings b {
  color: goldenrod;
}
.Update-Bee-Errors {
  color: red;
  font-size: 14px;
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .AccountSettings h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
  }
  .AccountSettings-Form {
    width: 60vw;
  }
  .AccountSettings-Form input {
    width: 40vw;
  }
  .AccountSettings-Form textarea {
    width: 43vw;
  }
  .Save-Button {
    width: fit-content;
  }
  .Account-Now {
    width: 30vw;
  }
  .AccountSettings-Form textarea::placeholder {
    font-size: 13px;
  }
  .AccountSettings-Form input::placeholder {
    font-size: 13px;
    text-align: center;
  }
  .AccountSettings-FieldSet legend {
    width: fit-content;
    text-align: center;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .AccountSettings h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
  }
  .AccountSettings-Form {
    width: 80vw;
  }
  .AccountSettings-Form input {
    width: 60vw;
  }
  .AccountSettings-Form textarea {
    width: 63vw;
  }
  .Save-Button {
    width: fit-content;
  }
  .Account-Now {
    width: 50vw;
  }
  .AccountSettings-Form textarea::placeholder {
    font-size: 12px;
  }
  .AccountSettings-Form input::placeholder {
    font-size: 12px;
    text-align: center;
  }
  .AccountSettings-FieldSet legend {
    width: fit-content;
    text-align: center;
  }
}
