/* bee in route payments styling */
.BeeInRoutePayments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.BeeInRoutePayments-Info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.BeeInRoutePayments-Customer-Info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  align-items: center;
  width: 20vw;
  height: 35vh;
  background-image: linear-gradient(#aab9cf, #24d7e7);
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 20px 0px gray;
}
.BeeInRoutePayments-Customer-Info b {
  color: white;
}
.BeePayment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
}
.BeePayment h4 {
  color: goldenrod;
}
.BeePayment i {
  color: #24d7e7;
}
.BeeInRoutePayments-Details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px;
}
.No-InRoute-Payments {
  font-weight: bold;
  color: brown;
  letter-spacing: 2px;
  padding: 20px;
}
.InRouteBookingRef {
  background-color: rgb(196, 211, 135);
  color: white;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 20px;
}
.InRouteBookingRef b {
  color: navy;
}
.BeeInRoutePay-More {
  border: none;
  position: absolute;
  bottom: 0;
  padding: 13px;
  border-radius: 40px;
  width: 10vw;
  background-color: aquamarine;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px gray;
  margin: -12%;
}
.BeeInRoutePay-More:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.BeeInRoutePay-More:disabled {
  background-color: rgb(203, 201, 201);
  color: white;
}
/* large screen sizes, desktop/laptop size */
@media (max-width: 1440px) {
  .BeeInRoutePayments-Customer-Info {
    height: fit-content;
    font-size: 16px;
    width: 250px;
  }
  .BeeInRoutePay-More {
    width: fit-content;
    margin: -20%;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .BeeInRoutePayments-Customer-Info {
    height: fit-content;
    font-size: 15px;
    width: 250px;
  }
  .BeeInRoutePay-More {
    width: fit-content;
    margin: -15%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .BeeInRoutePayments-Customer-Info {
    height: fit-content;
    font-size: 13px;
    width: 50%;
  }
  .BeeInRoutePay-More {
    width: fit-content;
    margin: -15%;
  }
}
