/* styling for bee bookings dashboard */
.BookingsDashBoard {
  display: flex;
  flex-direction: column;
}
.BookingsDashBoard h2 {
  color: goldenrod;
  padding: 20px;
}
.Bookings {
  display: flex;
  gap: 2rem;
}
.Bookings-Container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25vw;
  padding: 30px;
}
.Bookings-Details {
  display: flex;
  padding: 10px;
  width: 93vw;
}
.Bookings-Button {
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  align-items: center;
  gap: 2rem;
}
.Bookings-Button-Text {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.Bookings-Button-Text:focus {
  color: goldenrod;
  border-bottom: 3px solid black;
}
/* large screen sizes, laptop/desktop size */
@media (max-width: 1440px) {
  .Bookings-Button {
    flex-direction: row;
    margin-left: 20vw;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .Bookings-Button {
    flex-direction: row;
    margin-left: 0;
  }
  .BookingsDashBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .Bookings {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Bookings-Container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .Bookings-Details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .Bookings-Button {
    flex-direction: column;
  }
  .BookingsDashBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .Bookings {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Bookings-Container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .Bookings-Details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
