/* bee completed bookings styling */
.CompletedBookingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.CompletedBookingsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 10px 2px gray;
  border-radius: 30px;
  padding: 10px;
  width: 30vw;
  height: 500px;
  color: white;
  box-shadow: 0px 0px 10px 0px black;
  background-image: linear-gradient(to right, black, rgb(40, 181, 194));
}
.Completed-Booking-Data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: rgb(25, 58, 61);
  border-radius: 20px;
  padding: 15px;
  height: 400px;
  width: 25vw;
  box-shadow: 0px 0px 10px 0px black;
}
.CompletedBookingsBox h3 {
  color: white;
}
.Review-Button {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 20px;
  background-color: goldenrod;
  margin: 2%;
  font-weight: bold;
}
.Review-Button:hover {
  color: white;
  background-color: black;
}
.No-BeeCompletedBookings {
  font-weight: bold;
  color: brown;
  letter-spacing: 2px;
  padding: 20px;
}
.BeeCompletedBooking-More {
  border: none;
  position: absolute;
  bottom: 0;
  padding: 13px;
  border-radius: 40px;
  width: 10vw;
  background-color: aquamarine;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px gray;
  margin: -10%;
}
.BeeCompletedBooking-More:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.BeeCompletedBooking-More:disabled {
  background-color: rgb(203, 201, 201);
  color: white;
}
/* large screen sizes, laptop/desktop size */
@media (max-width: 1440px) {
  .BeeCompletedBooking-More {
    margin: -20%;
  }
  .CompletedBookingsBox {
    padding: 20px;
  }
  .Completed-Booking-Data {
    padding: 20px;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .CompletedBookingsContainer {
    width: 50%;
  }
  .CompletedBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Completed-Booking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .BeeCompletedBooking-More {
    width: fit-content;
    margin: -16%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .CompletedBookingsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .CompletedBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Completed-Booking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .BeeCompletedBooking-More {
    width: fit-content;
    margin: -17%;
  }
}
