/* login page styling */
.Login {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 3%;
}
.Login-Form {
  display: flex;
  border: 5px solid goldenrod;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 50vw;
  height: fit-content;
  gap: 1rem;
  background-color: white;
  padding: 10px;
}
.Login-HomeImage {
  width: 200px;
  height: 200px;
}
.Login-Label {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: bold;
  gap: 0.5rem;
}
.Login-Input {
  outline: none;
  border: 1px solid goldenrod;
  border-radius: 20px;
  padding: 10px;
  width: 20vw;
}
.Login-Button {
  outline: none;
  background-color: goldenrod;
  color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 10vw;
  font-weight: bold;
}
.Login-Button:hover {
  box-shadow: 1px 1px 3px 3px black;
}
.Login-Ref {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login-Ref-Links {
  display: flex;
  gap: 0.3rem;
}
.Login-Ref-Links a {
  color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  text-decoration: none;
  font-weight: bold;
}
.Login-Ref-Links a:hover {
  box-shadow: 1px 1px 10px 1px black;
}
.Select-Input {
  outline: none;
  border: 1px solid goldenrod;
  border-radius: 20px;
  padding: 10px;
  width: 21vw;
}
.Login-Errors {
  font-size: 12px;
  color: red;
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .Login-HomeImage {
    width: 150px;
    height: 150px;
  }
  .Login-Form {
    width: 70vw;
  }
  .Login-Input {
    width: 40vw;
  }
  .Select-Input {
    width: 42vw;
  }
  .Login-Button {
    width: 25vw;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .Login-HomeImage {
    width: 100px;
    height: 100px;
  }
  .Login-Form {
    width: 90vw;
  }
  .Login-Input {
    width: 50vw;
  }
  .Select-Input {
    width: 54vw;
  }
  .Login-Button {
    width: 30vw;
  }
}
