/* bee messaging dashboard styling */
.MessagingDashBoard {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 100%;
}
.MessagingDashBoard1 h2 {
  color: goldenrod;
  padding: 20px;
}
.Messaging-Conversations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px 0px 0px 30px;
  background-color: black;
  color: goldenrod;
  width: 20vw;
}
.Messaging-Dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  width: 50vw;
  border-radius: 0px 30px 30px 0px;
  gap: 1rem;
}
.Send-Message {
  display: flex;
  position: absolute;
  bottom: 5px;
  align-items: center;
  gap: 0.5rem;
}
.Send-Message input {
  display: flex;
  text-align: center;
  width: 25vw;
  border: none;
  border: 2px solid goldenrod;
  border-radius: 20px;
  padding: 8px;
  height: 3vh;
}
.Send-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  width: 5vw;
  height: 3vh;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
  background-color: rgb(35, 35, 214);
  color: white;
  box-shadow: 0px 0px 20px 0px gray;
  cursor: pointer;
}
.Send-Button:hover {
  background-color: black;
  color: white;
}
.Send-Button:disabled {
  background-color: gray;
  color: white;
}

.MessagingDialog-Name {
  display: flex;
  position: absolute;
  top: 0;
  border: 1px solid black;
  background-color: black;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  color: goldenrod;
  text-align: end;
  padding: 10px;
  width: 98%;
  border-radius: 0px 30px 0px 0px;
}
.ConversationWith {
  color: white;
  font-size: 15px;
}
.Received-Conversations {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  gap: 2rem;
}
.Received-Conversations p {
  position: relative;
  display: flex;
  padding: 15px;
  margin-left: 20%;
  border-radius: 20px;
  background-color: rgb(52, 94, 233);
  color: white;
  width: 20vw;
  height: fit-content;
  box-shadow: 1px 1px 3px 3px gray;
}
.Sent-Conversations {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.Sent-Conversations p {
  position: relative;
  display: flex;
  padding: 15px;
  margin-left: 20%;
  border-radius: 20px;
  background-color: rgb(78, 207, 114);
  color: white;
  width: 20vw;
  height: fit-content;
  box-shadow: 1px 1px 3px 3px gray;
}
.Conversations h4 {
  text-align: center;
  border: 3px solid goldenrod;
  background-color: black;
  border-radius: 30px;
  padding: 15px;
  height: 20px;
  color: white;
}
.Conversations-List {
  overflow: scroll;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 15px;
}
.Conversations-List p {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  height: auto;
  width: 10vw;
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
}
.Conversations-List p:hover {
  border: 5px solid green;
}
.Messaging-Now {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 40vh;
  padding: 10px;
  width: 40vw;
  gap: 1rem;
}
.Message-TimeStamp {
  position: absolute;
  bottom: -20px;
  padding-bottom: 20px;
  width: 18vw;
  margin: -1%;
  font-size: 12px;
  text-align: center;
  color: navy;
}
.Full-Message {
  display: flex;
  margin-bottom: 5px;
  justify-content: flex-end;
}
.Full-Message .Message-Name {
  margin-top: -4px;
  color: goldenrod;
}
.Message-Name {
  position: absolute;
  right: 40%;
}
.Intro-Convo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: goldenrod;
  font-weight: bold;
}

/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .MessagingDashBoard {
    flex-direction: column;
  }
  .Messaging-Conversations {
    width: 100%;
    border-radius: 0%;
  }
  .Conversations-List p {
    width: 25vw;
  }
  .Messaging-Dialog {
    width: 100%;
    border-radius: 0%;
    border: none;
    border-bottom: 3px solid black;
  }
  .Messaging-Now {
    width: 90%;
    height: 40vh;
  }
  .Send-Message input {
    width: 50vw;
  }
  .Send-Button {
    width: fit-content;
  }
  .Received-Conversations p {
    width: 30vw;
  }
  .Sent-Conversations p {
    width: 30vw;
  }
  .Message-TimeStamp {
    bottom: -35%;
    width: 30vw;
  }
  .MessagingDashBoard1 h2 {
    padding: 30px;
    text-align: center;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .MessagingDashBoard {
    flex-direction: column;
  }
  .Messaging-Conversations {
    width: 100%;
    border-radius: 0%;
  }
  .Conversations-List p {
    width: 25vw;
  }
  .Messaging-Dialog {
    width: 100%;
    border-radius: 0%;
    border: none;
    border-bottom: 3px solid black;
  }
  .Messaging-Now {
    width: 90%;
    height: 40vh;
  }
  .Send-Message input {
    width: 50vw;
  }
  .Send-Button {
    width: fit-content;
  }
  .Received-Conversations p {
    width: 30vw;
  }
  .Sent-Conversations p {
    width: 30vw;
  }
  .Message-TimeStamp {
    bottom: -35%;
    width: 30vw;
  }
  .Intro-Convo {
    text-align: center;
  }
  .MessagingDashBoard1 h2 {
    padding: 30px;
    text-align: center;
  }
}
