/* bee profile navbar styling */
.Bee-Nav-Header {
  display: flex;
}
.Bee-NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.NavBarBeeProfile-Logo {
  width: 100px;
}
.NavBarBeeProfile-Nav {
  display: flex;
}
.NavBarBeeProfile-MainLinks {
  display: flex;
  gap: 2rem;
  padding: 20px;
}
.NavBarBeeProfile-MainLinks a {
  text-decoration: none;
  color: goldenrod;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid white;
}
.NavBarBeeProfile-Link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.NavBarBeeProfile-Link img {
  width: 30px;
  height: 30px;
}
.NavBarBeeProfile-Link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.SmallSizeBeeProfile-MenuBar {
  display: none;
}
.NavBarBeeProfile-Links {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: fit-content;
  top: 0%;
  right: 0%;
  height: fit-content;
  gap: 2rem;
  z-index: 3;
  background-color: goldenrod;
  border-radius: 0px 0px 0px 5px;
}
.NavBarBeeProfile-Links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.NavBarBeeProfile-Links a:hover {
  text-decoration-color: white;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}
.Close-NavBarMenu {
  width: 30px;
  height: 30px;
}
.Menu-Bar {
  width: 80px;
  height: 80px;
}
.Logout {
  border: none;
  background-color: white;
  color: goldenrod;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
/* large screen sizes, desktop/laptop size */
@media (max-width: 1440px) {
  .NavBarBeeProfile-Nav {
    display: flex;
  }
  .SmallSizeBeeProfile-MenuBar {
    display: none;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .NavBarBeeProfile-Nav {
    display: none;
  }
  .SmallSizeBeeProfile-MenuBar {
    display: flex;
  }
  .NavBarBeeProfile-Links {
    padding: 6.5%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .SmallSizeBeeProfile-MenuBar {
    display: flex;
  }
  .NavBarBeeProfile-Nav {
    display: none;
  }
  .NavBarBeeProfile-Links {
    padding: 10%;
  }
}
