/* nectar payments dashboard styling */
.NectarPaymentsDashBoard {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.NectarPayments-Container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 15px;
}
.Payment-Details {
  display: flex;
  padding: 10px;
  width: 93vw;
}
.Payment-Buttons {
  display: flex;
  gap: 1rem;
  border: none;
}
.Payment-Buttons button {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}
.Payment-Buttons button:focus {
  color: goldenrod;
  border-bottom: 3px solid black;
}
.NectarPaymentsDashBoard h2 {
  color: goldenrod;
  padding: 20px;
  text-align: left;
}
.NectarPayments-Button-Text {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .Payment-Buttons {
    flex-direction: column;
  }
  .NectarPaymentsDashBoard {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .Payment-Buttons button:focus {
    border: none;
  }
  .Payment-Details {
    justify-content: center;
    align-items: center;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .Payment-Buttons {
    flex-direction: column;
  }
  .NectarPaymentsDashBoard {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .Payment-Buttons button:focus {
    border: none;
  }
  .Payment-Details {
    justify-content: center;
    align-items: center;
  }
}
