/* nectar account settings page styling */
.NectarAccountSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.NectarAccountSettings b {
  color: goldenrod;
}
.NectarAccountSettings-FieldSet {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: fit-content;
  border: 1px solid black;
  gap: 1rem;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  color: goldenrod;
  box-shadow: 1px 1px 20px 1px gray;
}
.NectarAccountSettings-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55vw;
  box-shadow: 1px 1px 20px 1px gray;
  gap: 1rem;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(244, 234, 210);
}
.NectarSave-Button {
  border: none;
  background-color: navy;
  color: white;
  padding: 12px;
  width: 10vw;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.NectarSave-Button:hover {
  background-color: rgb(65, 170, 65);
  color: white;
  box-shadow: 1px 1px 10px 1px black;
}
.NectarAccountSettings-Form input {
  border: none;
  border: 1px solid goldenrod;
  color: black;
  width: 20vw;
  padding: 10px;
  border-radius: 20px;
}
.NectarAccountSettings-FieldSet legend {
  display: flex;
  flex-direction: column;
  width: 10vw;
  border-bottom: 1px solid black;
  gap: 1rem;
  color: white;
  background-color: navy;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px black;
  border-radius: 4px;
}
.AccountSettings-Form textarea {
  height: 20vh;
  border-radius: 20px;
  text-align: center;
}
.NectarAccount-Now {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 40px;
  border-radius: 20px;
  background-color: rgb(50, 50, 112);
  box-shadow: 1px 1px 10px 1px black;
  color: white;
}
.NectarAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NectarImageUpload {
  background-color: white;
}
.NectarAccountSettings-FieldSet textarea {
  width: 21vw;
  height: 20vh;
  border-radius: 20px;
  text-align: center;
}
.FieldsetTime {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.NectarAccountSettings select {
  width: 10vw;
}
.Nectar-Payment-Info {
  text-decoration: none;
  border-radius: 20px;
  background-color: aqua;
  padding: 10px;
  color: gray;
  font-weight: bold;
  box-shadow: 1px 1px 10px 1px gray;
  width: fit-content;
}
.Nectar-Payment-Info:hover {
  background-color: black;
  color: white;
}
.Update-Errors {
  color: red;
  font-size: 15px;
}
.Payment-Data-Nectar p {
  font-weight: bold;
  color: navy;
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .Payment-Data-Nectar {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.2rem;
  }
  .Payment-Data-Nectar p {
    font-size: 16px;
  }
  .NectarAccountSettings h3 {
    text-align: center;
  }
  .NectarAccountSettings {
    align-items: center;
  }
  .NectarAccountSettings-Form {
    width: 80vw;
  }
  .Number-Nectar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .NectarAccountSettings-Form input {
    width: 25vw;
  }
  .NectarAccountSettings-FieldSet textarea {
    width: 45vw;
  }
  .NectarAccountSettings-Form input::placeholder {
    font-size: 12px;
  }
  .NectarSave-Button {
    width: fit-content;
  }
  .NectarAccountSettings-FieldSet legend {
    width: fit-content;
  }
  .NectarAccountSettings select {
    width: 25vw;
  }
  .NectarAccount-Now {
    width: 50vw;
    font-size: 14px;
  }
  #plan.RegisterNectar-Select {
    width: 30vw;
    text-align: center;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .Payment-Data-Nectar {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.2rem;
  }
  .Payment-Data-Nectar p {
    font-size: 15px;
  }
  .NectarAccountSettings h3 {
    text-align: center;
  }
  .NectarAccountSettings {
    align-items: center;
  }
  .NectarAccountSettings-Form {
    width: 80vw;
  }
  .Number-Nectar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .NectarAccountSettings-Form input {
    width: 50vw;
  }
  .NectarAccountSettings-FieldSet textarea {
    width: 60vw;
  }
  .NectarAccountSettings-Form input::placeholder {
    font-size: 12px;
  }
  .NectarSave-Button {
    width: fit-content;
  }
  .NectarAccountSettings-FieldSet legend {
    width: fit-content;
    text-align: center;
  }
  .NectarAccountSettings select {
    width: 54vw;
  }
  .NectarAccount-Now {
    width: 50vw;
    font-size: 14px;
  }
  .NectarAccountSettings-FieldSet {
    text-align: center;
  }
  #plan.RegisterNectar-Select {
    width: 100%;
    text-align: center;
  }
}
