/* nectar pending bookings styling */
.NectarPendingBookingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
}
.NectarPendingBookingsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 10px 2px gray;
  border-radius: 30px;
  padding: 10px;
  width: 30vw;
  height: 500px;
  color: white;
  box-shadow: 0px 0px 10px 0px black;
  background-image: linear-gradient(to right, black, rgb(40, 181, 194));
}
.NectarPendingBookingsBox h3 {
  color: white;
}
.Nectar-Pending-Buttons {
  display: flex;
  padding: 20px;
  gap: 2rem;
}

.Nectar-Accept {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Nectar-Cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Nectar-BeeNotes {
  width: 15vw;
}
b {
  color: goldenrod;
}
.Nectar-Cancel-Button {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.Nectar-Accept-Button {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.Nectar-Cancel-Button:hover {
  box-shadow: 2px 2px 10px 2px black;
  background-color: black;
  color: black;
}
.Nectar-Accept-Button:hover {
  box-shadow: 2px 2px 10px 2px black;
  background-color: black;
  color: black;
}
.No-NecPending-Bookings {
  font-weight: bold;
  color: brown;
  letter-spacing: 2px;
  padding: 20px;
}
.Nec-Pendingbooking-Data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: rgb(25, 58, 61);
  border-radius: 20px;
  padding: 15px;
  height: 400px;
  width: 25vw;
  box-shadow: 0px 0px 10px 0px black;
}
.NectarPendingBooking-More {
  border: none;
  position: absolute;
  bottom: 0;
  padding: 13px;
  border-radius: 40px;
  width: 10vw;
  background-color: aquamarine;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px gray;
  margin: -10%;
}
.NectarPendingBooking-More:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.NectarPendingBooking-More:disabled {
  background-color: rgb(203, 201, 201);
  color: white;
}
/* large screen sizes, laptop/desktop size */
@media (max-width: 1440px) {
  .NectarPendingBooking-More {
    margin: -20%;
  }
  .NectarPendingBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Nec-Pendingbooking-Data {
    height: fit-content;
    width: 40vw;
    gap: 1rem;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .NectarPendingBookingsContainer {
    width: 50%;
  }
  .NectarPendingBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Nec-Pendingbooking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .Nectar-Cancel-Button,
  .Nectar-Accept-Button {
    width: 35px;
    height: 35px;
  }
  .NectarPendingBooking-More {
    width: fit-content;
    margin: -16%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .NectarPendingBookingsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .NectarPendingBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Nec-Pendingbooking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .Nectar-Cancel-Button,
  .Nectar-Accept-Button {
    width: 35px;
    height: 35px;
  }
  .NectarPendingBooking-More {
    width: fit-content;
    margin: -17%;
  }
}
