/* nectar in route payments styling */
.NectarInRoutePayments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.NectarInRoutePayments-Info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.NectarInRoutePayments-Customer-Info {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  align-items: center;
  width: 20vw;
  height: 20vh;
  background-image: linear-gradient(#aab9cf, #24d7e7);
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 20px 0px gray;
}
.NectarInRoutePayments-Customer-Info b {
  color: white;
}
.No-InRoutePayments {
  font-weight: bold;
  color: brown;
  letter-spacing: 2px;
  padding: 20px;
}
.NecInRouteBookingRef {
  background-color: rgb(196, 211, 135);
  color: white;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 20px;
}
.NecInRouteBookingRef b {
  color: navy;
}
.NectarInRoutePay-More {
  border: none;
  position: absolute;
  bottom: 0;
  padding: 13px;
  border-radius: 40px;
  width: 10vw;
  background-color: aquamarine;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px gray;
  margin: -21%;
}
.NectarInRoutePay-More:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.NectarInRoutePay-More:disabled {
  background-color: rgb(203, 201, 201);
  color: white;
}

/* large screen sizes, desktop/laptop size */
@media (max-width: 1440px) {
  .NectarInRoutePayments-Customer-Info {
    height: fit-content;
    font-size: 16px;
    width: 250px;
  }
  .NectarInRoutePay-More {
    width: fit-content;
    margin: -20%;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .NectarInRoutePayments-Customer-Info {
    height: fit-content;
    font-size: 15px;
    width: 250px;
  }
  .NectarInRoutePay-More {
    width: fit-content;
    margin: -15%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .NectarInRoutePayments-Customer-Info {
    height: fit-content;
    font-size: 13px;
    width: 50%;
  }
  .NectarInRoutePay-More {
    width: fit-content;
    margin: -15%;
  }
}
