/* nectar completed bookings styling */
.NectarCompletedBookingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
}
.NectarCompletedBookingsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 10px 2px gray;
  border-radius: 30px;
  padding: 10px;
  width: 30vw;
  height: 500px;
  color: white;
  box-shadow: 0px 0px 10px 0px black;
  background-image: linear-gradient(to right, black, rgb(40, 181, 194));
}
.NectarCompletedBookingsBox h3 {
  color: white;
}
.Payment-Button {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 20px;
  background-color: goldenrod;
  font-weight: bold;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  margin: 2%;
}
.Payment-Button:hover {
  color: white;
  background-color: black;
}
.No-NecCompletedBookings {
  font-weight: bold;
  color: brown;
  letter-spacing: 2px;
  padding: 20px;
}
.Nec-CompletedBooking-Data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: rgb(25, 58, 61);
  border-radius: 20px;
  padding: 15px;
  height: 400px;
  width: 25vw;
  box-shadow: 0px 0px 10px 0px black;
}
.NectarCompletedBooking-More {
  border: none;
  position: absolute;
  bottom: 0;
  padding: 13px;
  border-radius: 40px;
  width: 10vw;
  background-color: aquamarine;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px gray;
  margin: -10%;
}
.NectarCompletedBooking-More:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.NectarCompletedBooking-More:disabled {
  background-color: rgb(203, 201, 201);
  color: white;
}
/* large screen sizes, laptop/desktop size */
@media (max-width: 1440px) {
  .NectarCompletedBooking-More {
    margin: -20%;
  }
  .NectarCompletedBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Nec-CompletedBooking-Data {
    height: fit-content;
    width: 40vw;
    gap: 1rem;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .NectarCompletedBookingsContainer {
    width: 50%;
  }
  .NectarCompletedBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Nec-CompletedBooking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .Payment-Button {
    width: fit-content;
  }
  .NectarCompletedBooking-More {
    width: fit-content;
    margin: -16%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .NectarCompletedBookingsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .NectarCompletedBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Nec-CompletedBooking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .Payment-Button {
    width: fit-content;
  }
  .NectarCompletedBooking-More {
    width: fit-content;
    margin: -17%;
  }
}
