/* bee pending bookings styling */
.PendingBookingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
}
.PendingBookingsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 10px 2px gray;
  border-radius: 30px;
  padding: 10px;
  width: 30vw;
  height: fit-content;
  color: white;
  box-shadow: 0px 0px 10px 0px black;
  background-image: linear-gradient(to right, black, rgb(40, 181, 194));
}
.PendingBookingsBox h3 {
  color: white;
}
.Pending-Booking-Data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: rgb(25, 58, 61);
  border-radius: 20px;
  padding: 15px;
  height: 400px;
  width: 25vw;
  box-shadow: 0px 0px 10px 0px black;
}
.Bee-Cancel-Text {
  color: red;
  font-weight: bold;
}
.Bee-Cancel-Button {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 20px 2px black;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
}
.Bee-Cancel-Button:hover {
  box-shadow: 2px 2px 10px 2px black;
  background-color: black;
  color: black;
}
b {
  color: goldenrod;
}
.No-PendingBookings {
  font-weight: bold;
  color: brown;
  letter-spacing: 2px;
  padding: 20px;
}
.BeePendingBooking-More {
  border: none;
  position: absolute;
  bottom: 0;
  padding: 13px;
  border-radius: 40px;
  width: fit-content;
  background-color: aquamarine;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px gray;
  margin: -10%;
}
.BeePendingBooking-More:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.BeePendingBooking-More:disabled {
  background-color: rgb(203, 201, 201);
  color: white;
}

/* large screen sizes, laptop/desktop size */
@media (max-width: 1440px) {
  .BeePendingBooking-More {
    margin: -20%;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .PendingBookingsContainer {
    width: 50%;
  }
  .PendingBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Pending-Booking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .Bee-Cancel-Button {
    width: 35px;
    height: 35px;
  }
  .BeePendingBooking-More {
    width: fit-content;
    margin: -16%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .PendingBookingsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .PendingBookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Pending-Booking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .Bee-Cancel-Button {
    width: 35px;
    height: 35px;
  }
  .BeePendingBooking-More {
    width: fit-content;
    margin: -17%;
  }
}
