/* home pricing plans view styling */
.PricingPlans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.PricingPlans-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap: 1rem;
  background-image: url("/honeycomb.png");
  background-size: cover;
  padding: 20px;
}
.PricingPlans-Info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 1px 1px 3px 3px black;
}
.PricingPlans-Info:hover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  background-color: black;
  box-shadow: 2px 2px 20px 2px gray;
  border-radius: 20px;
  color: white;
}
.Price {
  color: goldenrod;
  font-weight: bold;
  font-size: 15px;
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .PricingPlans-Container {
    width: fit-content;
  }
  .PricingPlans-Info h1 {
    font-size: 15px;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .PricingPlans {
    flex-direction: column;
  }
  .PricingPlans-Container {
    width: fit-content;
  }
  .PricingPlans-Info h1 {
    font-size: 15px;
  }
}
