/* bee registration page styling */
.RegisterBee {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 10%;
  padding: 10px;
}
.RegisterBee-Form {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 50vw;
  height: fit-content;
  border-radius: 20px;
  gap: 1rem;
  padding: 100px;
  box-shadow: 1px 1px 2px 2px gray;
  border: 3px solid goldenrod;
}

.RegisterBee-Button {
  outline: none;
  background-color: navy;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 10vw;
  font-weight: bold;
}
.RegisterBee-Button:hover {
  background-color: black;
  color: white;
}
.RegisterBee-Input {
  outline: none;
  border: 1px solid goldenrod;
  border-radius: 20px;
  padding: 5px;
  width: 30vw;
}
.RegisterBee-Contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.RegisterBee-Label {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: bold;
  gap: 0.5rem;
}
legend {
  font-weight: bold;
}
.Register-BeeImage {
  width: 100px;
  height: 100px;
}
.RegisterBee-LoginRef {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.RegisterBee-LoginRef a {
  color: navy;
  font-weight: bold;
  box-shadow: 1px 1px 20px 1px gray;
  padding: 5px;
  border-radius: 5px;
  background-color: goldenrod;
  text-decoration: none;
  width: 5vw;
  text-align: center;
}
.RegisterBee-LoginRef a:hover {
  background-color: black;
  color: white;
}
.RegisterBee-Errors {
  font-size: 12px;
  color: red;
}

/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .RegisterBee-Form {
    width: 45vw;
  }
  .RegisterBee-Input {
    width: 44vw;
  }
  .RegisterBee-Button {
    width: 30vw;
  }
  .RegisterBee-LoginRef a {
    width: 10vw;
  }
  .RegisterBee-LoginRef p {
    text-align: center;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .RegisterBee-Form {
    width: 35vw;
  }
  .RegisterBee-Input {
    width: 60vw;
  }
  .RegisterBee-Button {
    width: 30vw;
  }
  .RegisterBee-LoginRef a {
    width: 20vw;
  }
  .RegisterBee-LoginRef p {
    text-align: center;
  }
}
