/* nectar registration page styling */
.RegisterNectar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 10%;
  padding: 10px;
}
.RegisterNectar-Form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: fit-content;
  color: black;
  border-radius: 20px;
  gap: 2rem;
  padding: 100px;
  border: 3px solid goldenrod;
}
.RegisterNectar-Button {
  outline: none;
  background-color: #0d114f;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 10vw;
  font-weight: bold;
}
.RegisterNectar-Button:hover {
  background-color: black;
  color: white;
}
.RegisterNectar-Input {
  border: none;
  border: 1px solid goldenrod;
  border-radius: 20px;
  padding: 5px;
  width: 30vw;
}
.RegisterNectar-Contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.RegisterNectar-Label {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: bold;
  gap: 0.5rem;
}
.Times {
  text-align: center;
}
legend {
  font-weight: bold;
}
.Register-NectarImage {
  width: 100px;
  height: 100px;
}
.RegisterNectar-LoginRef {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.RegisterNectar-LoginRef a {
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: goldenrod;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: 5vw;
}
.RegisterNectar-LoginRef a:hover {
  box-shadow: 1px 1px 10px 1px black;
}
.RegisterNectar-Select {
  border: none;
  border: 1px solid goldenrod;
  border-radius: 20px;
  width: 31vw;
}
.RegisterNectar-Availability {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.RegisterNectar-Availability fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20vw;
}
.RegisterNectar-Errors {
  font-size: 13px;
  color: red;
}
.RegisterNectar-Address {
  display: flex;
  flex-direction: column;
}
.RegisterNectar-Button:disabled {
  background-color: rgb(191, 189, 189);
  color: white;
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .RegisterNectar-Form {
    width: 45vw;
  }
  .RegisterNectar-Input {
    width: 40vw;
  }
  .RegisterNectar-Select {
    width: 42vw;
  }
  .RegisterNectar-Button {
    width: 15vw;
  }
  .RegisterNectar-LoginRef a {
    width: 10vw;
  }
  .RegisterNectar-Availability fieldset {
    display: flex;
    width: 40vw;
  }
  .RegisterNectar-LoginRef {
    text-align: center;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .RegisterNectar-Form {
    width: 35vw;
  }
  .RegisterNectar-Input {
    width: 60vw;
  }
  .RegisterNectar-Select {
    width: 62vw;
  }
  .RegisterNectar-Button {
    width: 30vw;
  }
  .RegisterNectar-LoginRef a {
    width: 20vw;
  }
  .RegisterNectar-Availability fieldset {
    display: flex;
    width: 60vw;
  }
  .RegisterNectar-LoginRef {
    text-align: center;
  }
}
