/* settings dashboard styling for bee and nectar */
.Settings {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Settings h2 {
  position: absolute;
  top: 0;
  color: goldenrod;
}
.SettingsControl {
  display: flex;
  position: absolute;
  top: 100px;
  left: 0;
  flex-direction: column;
  width: 10vw;
  height: 10vh;
  gap: 3rem;
  padding: 10px;
}
.Settings-Dial {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 3rem;
}
.Settings-Button {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.Settings-Button:focus {
  border-bottom: 3px solid goldenrod;
  padding: 10px;
  border-radius: 10%;
}
.Logout-Button {
  border: none;
  background-color: silver;
  border-radius: 20px;
  width: 10vw;
  padding: 10px;
  font-weight: bold;
  color: brown;
  cursor: pointer;
}
.Logout-Button:hover {
  box-shadow: 1px 1px 20px 1px black;
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .SettingsControl {
    display: none;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .SettingsControl {
    display: none;
  }
}
