/* mock users testimonials styling */
.Testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 2%;
  gap: 1rem;
}
.Testimonials-Info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 20vw;
  height: 10vh;
}
.Testimonials-FeedBack {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  width: 20vw;
  border-radius: 20px;
  padding: 10px;
  height: fit-content;
}
.Testimonials-Image {
  width: 50px;
  height: 50px;
}
.Testimonials-Verified {
  width: 20px;
  height: 20px;
}
.Testimonials-Ratings {
  width: 40%;
  height: 30%;
}

/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .Testimonials-FeedBack {
    height: 50%;
    width: 50vw;
    position: relative;
  }
  .Testimonials {
    flex-wrap: wrap;
  }
  .Testimonials-Info {
    height: 50%;
    width: 30vw;
  }
  .Testimonials-Ratings {
    width: auto;
    height: 30%;
    padding: 5px;
    position: absolute;
    bottom: -10%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .Testimonials-FeedBack {
    height: fit-content;
    width: fit-content;
    position: relative;
  }
  .Testimonials {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .Testimonials-Info {
    width: fit-content;
    height: fit-content;
    text-align: center;
  }
  .Testimonials-Ratings {
    width: auto;
    height: 40%;
    padding: 10px;
    position: absolute;
    bottom: -15%;
  }
}
