/* bee upcoming bookings styling */
.BookingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.UpcomingBookings {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BookingsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 10px 2px gray;
  border-radius: 30px;
  padding: 10px;
  width: 30vw;
  height: 500px;
  color: white;
  box-shadow: 0px 0px 10px 0px black;
  background-image: linear-gradient(to right, black, rgb(40, 181, 194));
  gap: 0.5rem;
}
.Upcoming-Booking-Data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: rgb(25, 58, 61);
  border-radius: 20px;
  padding: 15px;
  height: 400px;
  width: 25vw;
  box-shadow: 0px 0px 10px 0px black;
}
.BookingsBox h3 {
  color: white;
}
.Bee-Message-Button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.Bee-Message-Button:hover {
  background-color: rgb(25, 58, 61);
  box-shadow: 0px 0px 20px 0px rgb(25, 58, 61);
}
.No-UpcomingBookings {
  font-weight: bold;
  color: brown;
  letter-spacing: 2px;
  padding: 20px;
}
.BeeUpcomingBooking-More {
  border: none;
  position: absolute;
  bottom: 0;
  padding: 13px;
  border-radius: 40px;
  width: 10vw;
  background-color: aquamarine;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px gray;
  margin: -10%;
}
.BeeUpcomingBooking-More:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.BeeUpcomingBooking-More:disabled {
  background-color: rgb(203, 201, 201);
  color: white;
}
/* large screen sizes, laptop/desktop size */
@media (max-width: 1440px) {
  .BeeUpcomingBooking-More {
    margin: -20%;
  }
  .BookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Upcoming-Booking-Data {
    height: fit-content;
    width: 40vw;
    gap: 1rem;
  }
}
/* medium screen sizes, tablet size */
@media (max-width: 1024px) {
  .BookingsContainer {
    width: 50%;
  }
  .BookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Upcoming-Booking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .Bee-Message-Button {
    width: 35px;
    height: 35px;
  }
  .BeeUpcomingBooking-More {
    width: fit-content;
    margin: -16%;
  }
}
/* small screen sizes, phone size */
@media (max-width: 600px) {
  .BookingsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .BookingsBox {
    width: fit-content;
    height: fit-content;
  }
  .Upcoming-Booking-Data {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
  }
  .Bee-Message-Button {
    width: 35px;
    height: 35px;
  }
  .BeeUpcomingBooking-More {
    width: fit-content;
    margin: -17%;
  }
}
